

html,body {
  height:100vh !important;
  min-height:100vh !important;
  max-height:100vh !important;
}
 body { 
    background: url("../images/websitebackground.jpg") no-repeat center center fixed;  
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 0px;

}

a {
  text-align: center;
  color: white;
  font-size: 20px;
  color: rgb(132, 0, 255);

 }
 


h1{
  text-align: center;
  color: white;
  font-size: 20px;
	
}

button{
	text-align: center;
	color: white;
	font-size: 20px;
}

.jumbotron{
	margin-top: 20px;
	background: none;
}

