<div id = "search" class = ".text-center">
  <form id="searchForm" class="form-inline my-2 my-lg-1" style="background-color: #333333;">
          <select class="custom-select form-control mr-sm-1" style="background-color: #333333;" id="searchType">
            <option value="instrument" selected>Instrument</option>
            <option value="user_name">Username</option>
            <option value="location">Location</option>
          </select>
          <input class="form-control mr-sm-1" style="background-color: #333333;" type="search"
            placeholder="Find Friends" id="searchWord">
          <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #333333;" type="submit"
            id="search">Search</button>
        </form>
</div>
<div id='users'>
    
</div>