<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <link rel='stylesheet' href='/stylesheets/friends.css'>
    <script src="/javascripts/friends.js"></script>
</head>
<body>
<div class="friendPage"><h1>Friends</h1>
<div id="Friends"></div>
<h1>Users</h1>
<div class="Other Users"></div>
</div>


</body>
</html>