<h1>{{title}}</h1>
    <nav class = "navbar">
        <a>members</a>
        <a>friends</a>
    </nav>
        <p id = "intro">Welcome to our social media app, Here you'll be able to connect
        with people who play instruments, perhaps maybe even someone who 
        plays an instrument you need to add your band ;)
        </p>
    <div id = "usefulLinks">
        <a href = "">Members</a>
        <a href = "">About us</a> 

    </div>

