<<!DOCTYPE html>
<head>
	<script src="/javascripts/carousel.js"></script>
</head>
	<div class="jumbotron">
		<h1 class="display-4">The McProject</h1>
			<p> Discover your future band right here! 
				The best site for discovering musicians and bandmembers to form musical collaborations wherever you are. 
				Find your future bandmates here. 
				Search thousands of singers, musicians and bands. 
				Find a musician or a band to play in today.
				      All genres of music.
				Join or start a band today.
				Finding the right bandmates to make your music. 
				Get a gig with a band.
			</p>
			<p>
				<a class="btn btn-dark btn-lg" href="#" role="button">Already a member?</a>
			</p>
	</div>
	<div class = "carousel-contain">
		<i class = "fas fa-arrow-left" id = "prevButton"></i>
		<i class = "fas fa-arrow-right" id = "nextButton"></i>
		<div class = "carousel-slide">
			<img src = "../images/websitecarouselthree.jpg" id ="lastClone" alt="">
			<img src = "../images/websitecarouselone.jpg" alt="">
			<img src = "../images/websitecarouseltwo.jpg" alt="">
			<img src = "../images/websitecarouselthree.jpg" alt="">
			<img src = "../images/websitecarouselone.jpg" id ="firstClone" alt="">
		</div>
	</div>

<!------ Footer ------>
	<footer class="page-footer font-small special-color-dark pt-4">
	<!------ Container For Buttons ------>
		<div class="containerTwo">
			<br>
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a class="btn-floating btn-gplus mx-3" href = "#">
						<i class="fab fa-google-plus-g"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-li mx-3" href = "#">
						<i class="fab fa-linkedin-in"> </i>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn-floating btn-dribbble mx-3" href = "#">
						<i class="fab fa-github"> </i>
					</a>
				</li>
			</ul>
			<div class="footer-copyright text-center py-1">
				<a href = "https://github.com/Flampup/The-McProject">© The McProject Github</a>
			</div>
		</div>
	</footer>
