<!DOCTYPE html>
	<div class="jumbotron">
		<h1 class="display-4">The McProject</h1>
			<p class="lead"><h1>Discover your future band right here! 
							The best site for discovering musicians and bandmembers to form muscical collaborations wherever you are. 
							Find your future bandmates here. 
							Search thousands of singers, musicians and bands. 
							Find a musician or a band to play in today.
							All genres of music.
							Join or start a band today.
							Finding the right bandmates to make your music. 
							Get a gig with a band.</h1></p>
		<p class = "lead"><a class="btn btn-primary btn-lg" href="#" role="button">Already a member?</a></p>
	</div>
<br>
