<<!DOCTYPE html>
	<div class="jumbotron">
		<h1 class="display-4">The McProject</h1>
			<p> Discover your future band right here! 
				The best site for discovering musicians and bandmembers to form musical collaborations wherever you are. 
				Find your future bandmates here. 
				Search thousands of singers, musicians and bands. 
				Find a musician or a band to play in today.
				      All genres of music.
				Join or start a band today.
				Finding the right bandmates to make your music. 
				Get a gig with a band.
			</p>
			<p>
				<a class="btn btn-dark btn-lg" href="#" role="button">Already a member?</a>
			</p>
	</div>
	<div class = "carousel-contain">
		<i class = "fas fa-arrow-left" id = "prevButton"></i>
		<i class = "fas fa-arrow-right" id = "nextButton"></i>
		<div class = "carousel-slide">
			<img src = "../images/websitecarouselthree.jpg" id ="lastClone" alt="">
			<img src = "../images/websitecarouselone.jpg" alt="">
			<img src = "../images/websitecarouseltwo.jpg" alt="">
			<img src = "../images/websitecarouselthree.jpg" alt="">
			<img src = "../images/websitecarouselone.jpg" id ="firstClone" alt="">
		</div>
	</div>