<div id="login">

  <h1><strong>Honey Files</strong> by Threat Stack, Inc</h1>

  <div class="login-box shadow">
   <form action="/login" method='post' class='login-form'>

     <i id='username-input-icon' class='icon-user'></i>
     <input id="username" autocomplete="off" placeholder="Username" class='dark' type="text" name="username">

     <i id='password-input-icon' class='icon-lock'></i>
     <input id="password" autocomplete="off" placeholder="Password" class='dark' type="password" name="password">

    <input type="submit" class='button large' value="Please, login to continue.">
   
   </form>

  </div>

   <div class="login-footer">
     Honey File is made by Threat Stack, Inc - Free of Charge. Enjoy!<br />
<a href="https://www.threatstack.com" target="_BLANK">https://www.threatstack.com</a>
   </div>

</div>