
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/javascripts/messages.js"></script>
<style>
    .thread {
        cursor: pointer;
    }
</style>
<body>
<div style="text-align: center"><button id="seb">Seb</button><button id="boshco">Boshco</button><button id="jim">Jim</button></div>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <br>
        <input id = "name" class="form-control" placeholder="Name">
        <br>
        <textarea id = "messageText" class="form-control" placeholder="Your message here"></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages">

    </div>
    <div>
        <h2>Conversations</h2>
        <div id ="conversations">

        </div>
    </div>
</div>
<script>

</script>
</body>
