<!--add forms to let user upload profile image, set what instruments they play, enter their location as well as other personal data, write a bio etc. -->
<form>
    <!--Email Address-->
        <div id = "email">
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>    
    <!--First Name and Surname-->
        <div id = "fname">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
            </div>
        </div> 
        <div id = "sname">   
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    <!--Instruments-->
        <div id = "instruments">
             <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>Guitar</option>
                    <option>Bass</option>
                    <option>Flute</option>
                    <option>Tinwhistle</option>
                    <option>Drums</option>
                    <option>Cello</option>
                    <option>Piano</option>
                    <option>Percussion</option>
                    <option>Bongos</option>
                </select>
            </div>
        </div>
</form>

