<div id='profilePage'>
  <!--Profile Pic-->
  <div id='profileImg'></div>
  <!-- name -->
  <h2 id='usrName' class="font-italic text-light bg-dark">Name</h2>
  <!-- bio -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-4">User bio</h4>
      <p id="usrBio" class="lead text-light bg-dark"></p>
    </div>
  </div>
  <!-- location-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p id='location' class="lead text-light bg-dark"></p>
    </div>
  </div>
  <!-- instrumetnts -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-4">Instruments</h4>
      <p id='usrIstruments' class="lead text-light bg-dark">instruments would be included here, i.e. guitar,piano etc
      </p>
    </div>
    <button id='addFriend' class='btn btn-dark btn-lg' >Add Friend</button>
  </div>
</div>