<!--
    page to display user profile
    make sure to include:
        prof. pic
        bio
        location
        instruments
        name

-->
<!--Profile Pic-->
<img src="/images/ronald_mcdonald.png" class="rounded float-left" alt="...">
<!-- name -->
<h2 class="font-italic">Name</h2>
<!-- bio -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4">User bio</h4>
    <p class="lead">this is where the bio would be</p>
  </div>
</div>
<!-- location-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">this is where the location would go</p>
    <p class="lead">i.e. galway,ireland</p>
  </div>
</div>
<!-- instrumetnts -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4">Instruments</h4>
    <p class="lead">instruments would be included here, i.e. guitar,piano etc</p>
  </div>
</div>