<!--add forms to let user upload profile image, set what instruments they play, enter their location as well as other personal data, write a bio etc. -->
<form>
    <!--Email Address-->
        <div id = "email">
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="emailaddr" placeholder="name@example.com">
            </div>
        </div>    
    <!--Username-->
    <div id = "uName">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="username">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <!--Instruments-->
        <div id = "instruments">
             <div class="form-group">
                <label for="exampleFormControlSelect2">Instruments</label>
                <select multiple class="form-control" id="instrument-group">
                    <option>Guitar</option>
                    <option>Bass</option>
                    <option>Flute</option>
                    <option>Tinwhistle</option>
                    <option>Drums</option>
                    <option>Cello</option>
                    <option>Piano</option>
                    <option>Percussion</option>
                    <option>Bongos</option>
                </select>
            </div>
        </div>
    <!--Location-->
    <div id = "location">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Location</label>
            <textarea class="form-control" id="location" rows="4"></textarea>
        </div>
    </div>
    <!--bio-->
    <div id = "bio">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">bio</label>
            <textarea class="form-control" id="biography" rows="3"></textarea>
        </div>
    </div>
    <!--password-->
    <div id="pward">
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
    <!--Profile picture-->
    <div id ="ppic">
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload a profile pic here</label>
            <input type="file" class="form-control-file" id="profile pic">
        </div>
    </div>
</form>
