<!--- Template for users --->
    <div class="container">
        <!---Users profile picture goes here --->
        <div class = "avatar">
            <img alt="a profile picture" src="http://lorempixel.com/100/100/people/9/">
        </div>

        <!---Users information goes here --->
        <div class = "info">
            <div class = "title">
                <p id = "userName">Stephen Mac Donnacha</p>
            </div>
            <div>
                    <div class="desc">Bassist</div>
                    <div class="desc">Musician</div>
                    <div class="desc">Lost</div>
            </div>

            <!--- links to other social media --->
            
        </div>
    </div>